$bgColor: rgb(13, 28, 233);

$fontHeading: 'Belanosima', sans-serif;
$fontFamily: 'Montserrat', sans-serif;

$primaryColor: #5896fb;
$whiteColor: #fff;
$greyColor: #e2e610;

$boxShadow: 1px 1px 5px 0px $greyColor;
$textShadow: $whiteColor 2px 2px 0px;

$borderRadius: 5px;
